<h1>Blocipedia: Social, Markdown Wikis</h1>
<div class="container">
    <div class="jumbotron">
        <h3>Create and view Wikis!</h3>
        <p>Welcome to Blocipedia!</p>
        <div class="row">
            <div class="col">
            <button><%= link_to "New Wiki", new_wiki_path(@wikis), class: 'btn' %> </button>
            </div>
            <div class="col">
            <button><%= link_to "View Wikis", wikis_path(@wikis), class: 'btn' %></button>
            </div>
        </div>
    </div>
</div>