<h1>Blocipedia: Social, Markdown Wikis</h1>
<div class="container">
    <div class="jumbotron">
        <h3>Create and share Markdown Wikis</h3>
        <button type="button"><%= link_to "Sign Up", new_user_registration_path %></button>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <h3>Create as many public wikis as you want!</h3>
        </div>
        <div class="col-6 text-center">
            <h3>Create private wikis!</h3> 
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn">Free Plan</button>
        </div>
        <div class="col-6 text-center">
           <button type="button" class="btn">Premium Plan</button>
        </div>
    </div>
</div>